<p>
  login works!
</p>
<div class="row">
  <form #loginForm="ngForm">

    <div class="form-group">
      <label for="mail">Email: </label>
      <input type="text" class="form-control" id="mail" name="mail" placeholder="Entrez votre Email" [(ngModel)]="mail"
        required>
      <label for="mdp">Mot de passe: </label>
      <input type="password" class="form-control" id="mdp" name="mdp" placeholder="Entrez votre mot de passe" [(ngModel)]="mdp"
        required>
    </div>
    <button (click)="login()" type="submit" class="btn btn-primary" [disabled]="!loginForm.valid">Se connecter</button>
  </form>

<div class="bg-warning" *ngIf="erreur == true">
  Informations de connexion Incorrectes!
</div>

</div>