<p>
  menu works! {{auth.isLogged()}}
</p>
<nav class="navbar navbar-expand-lg navbar-light bg-light text-dark">
  <a class="navbar-brand" href="#">Navigation</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">

      <span *ngIf="auth.isLogged()">
        <li class="nav-item">
          <span class="nav-link" >Bonjour {{auth.getItem("type_connecte")}} {{auth.getItem("nom_connecte")}} {{auth.getItem("prenom_connecte")}}</span>
        </li>
      </span>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/">Accueil <span class="sr-only">(current)</span></a>
      </li>
      <span *ngIf="auth.isLogged() == false">
        <li class="nav-item">
          <a class="nav-link" routerLink="/login">Login</a>
        </li>
      </span>
      <span *ngIf="auth.isLogged() && auth.getItem('type_connecte') =='journaliste'">
        <li class="nav-item">
          <a class="nav-link" routerLink="/gestionarticle">Gestion des Articles</a>
        </li>
      </span>
      <span *ngIf="auth.isLogged() && auth.getItem('type_connecte') == 'administrateur'">
        <li class="nav-item">
          <a class="nav-link" routerLink="/personne">Personnes</a>
        </li>
      </span>
      <span *ngIf="auth.isLogged()">
        <li class="nav-item">
          <a class="nav-link" href="#" (click)="logout()">Logout</a>
        </li>
      </span>
      <span *ngIf="!auth.isLogged()">
        <li class="nav-item">
          <a class="nav-link" routerLink="/inscription">Inscription</a>
        </li>
      </span>
      

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Catégories
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <!-- <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a> -->

          <a *ngFor="let t of tags ; let i = index" class="dropdown-item" routerLink="/tag/{{t}}">{{t}}</a>

        </div>
      </li> 

    </ul>
  </div>
</nav>