<p>
  ajoutarticle works!
</p>
<div class="row">
  <form #articleForm="ngForm" (ngSubmit)="ajouterArticle()">

    <div class="form-group">
      <label for="titre">Titre: </label>
      <input type="text" class="form-control" id="titre" name="titre" placeholder="Entrez le titre" [(ngModel)]="titre"
        required>

      <label for="selectTag">Catégorie: </label>
      <select class="form-control" id="selectTag" name="selectTag" [(ngModel)]="tag" required>
        <option value="sport">Sport</option>
        <option value="voyage">Voyage</option>
        <option value='high-tech'>High-Tech</option>
        <option value="insolite">Insolite</option>
      </select>



      <label for="contenuArticle">Contenu: </label>
      <input type="text" class="form-control" id="contenuArticle" name="contenuArticle" placeholder="Rédigez votre article"
        [(ngModel)]=contenuArticle required>

    </div>
    <button type="submit" class="btn btn-primary" [disabled]="!articleForm.valid">Ajouter l'article</button>
  </form>


</div>

<pre>{{articleForm.value | json}}</pre>